<div class="main">
	<div class="row">
	
		<div class="large-8 small-10 columns small-centered">
			<div class="title-sub">Welcome to the</div>
			<div class="title">BitCoffee Machine</div>

			<div class="action">
				<a href="http://coffeehack.herokuapp.com/pay"><div class="button-m pwb"><span class="price">0.0014</span><span class="text">Pay with Bitcoin</span></div></a>
				<div class="button-m fc"><span class="price"> <span class="free">10</span> <span class="cup"></span></span><span class="text">Free Coffee</span></div>
			</div>




<!--  


<%= @invoice %>

</br>
</br>
</br>
</br>


<iframe src="<%=@invoice_url%>">
    <p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>


</br>
</br>
</br>
</br>

<%= link_to("Invoice Status", @status_url) %>


</br>
</br>
</br>
</br>
-->

	</div>

</div>
