<h1>Pay with Bitcoin or Tip</h1>

<%= @invoice %>

</br>
</br>
</br>
</br>

<iframe src="<%=@invoice_url%>">
    <p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>


</br>
</br>
</br>
</br>

<%= link_to("Invoice Status", @status_url) %>


</br>
</br>
</br>
</br>


