<div class="main">
	<div class="row">
	
	

<!--  
<%= @invoice %>

</br>
</br>
</br>
</br>

-->
<div class="large-7 small-10 columns small-centered">

<iframe src="<%=@invoice_url%>">
    <p>Where is my invoice at!?</p>
</iframe>

</div>

<!--  
</br>
</br>
</br>
</br>

<%= link_to("Invoice Status", @status_url) %>


</br>
</br>
</br>
</br>
-->

	</div>

</div>

